html
	head
		title
			| #{title}

		block includes
			link(rel="stylesheet", href="/css/auth/style.css")

	body
		div(class="login-page")
			div(class="form")
				form(class="login-form")
					input(type="text", placeholder="username", id="username")

					block register
						input(type="text", placeholder="email", id="email")

						input(type="text", placeholder="password", id="password1")

					input(type="text", placeholder="password", id="password2")

					button
						| login
		block scripts
			script(src="https://code.jquery.com/jquery-3.3.1.min.js", integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo", crossorigin="anonymous")

			script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js",
				   integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut",
				   crossorigin="anonymous")