/*
This is needed in order for the footer to stick to the bottom
*/
body {
	display: flex;
	flex-direction: column;

	min-height: 100vh;
}

main {
	flex: 1 0 auto;
}

.main_datepicker {
	font-size: 2rem;

	margin-left: 20px;
	margin-right: 20px;
}

.select_flexbox {
	display: flex;
}

.select_flexbox_child {
	margin-left: 5px;
	margin-right: 5px;
}

.input_search_box {
	padding: 30px;
}

.ui-datepicker {
	font-size: 0.0001rem;
}

.icon-block {
	cursor: pointer;
}

.hidden {
	display: none;
}

.error_message {
	color: #ff0000;
	font-size: 12px;
}
