html

	block head
		head

			link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css")
			link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css")
			link(rel="stylesheet", href="/css/style.css")
			link(rel="stylesheet", href="css_/lightpick.css")

			title
				| #{title}

	body
		block navbar
			header
				ul(id="dropdown1", class="dropdown-content")
						if user
							
							li
								a(href="#")
									| Your account

							li
								a(href="#")
									| Settings

							li
								a(href="#")
									| Logout
						else
							
							li
								a(href="#")
									| Login

							li
								a(href="#")
									| Register

				nav(id="main_nav" class="light-blue lighten-1")
					div(class="nav-wrapper")
						a(href="#" class="brand-logo", style="margin-left: 15px;")
							| Book a hotel

						ul(class="right hide-on-med-and-down")
							li
								a(href="#", class="navbar_main_a")
									i(class="fas fa-hotel material-icons left")
									| Find hotel
									

							li
								a(class="dropdown-trigger navbar_main_a", data-target="dropdown1", href="#!")
									i(class="fas fa-user material-icons left")
									| User 

							li
								a(href="#", class="navbar_main_a")
									i(class="fas fa-search material-icons left")
									| Quick Search
								
		block main
			 
		block footer
			footer(class="page-footer orange", style="position: fixed; bottom: 0; left: 0; width: 100%;")
				div(class="container")
					div(class="row")
						div(class="col 14 offset-12 s12")
							h5(class="white-text")
								| Links
							ul
								
								li
									a(class="grey-text text-lighten-3", href="https://www.github.com/TristanRice/hotel_book")
										| Source code
				
				div(class="footer-copyright")
					div(class="container")
						| 2014 Copyright
						a(class="grey-text text-lighten-4 right", href="#!")
							| More Links

		block scripts
			script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")
			script(src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js")
			script(src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js")
			script(src="/js/lightpick.js")